.supersubbota2022-catalog{
  margin-bottom: 80px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    bottom: -80px;
    left: 50px;
    background-image: url("../img/decor1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 72px;
    height: 72px;
  }
  &:after{
    content: '';
    position: absolute;
    top: 720px;
    right: 0;
    background-image: url("../img/decor2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50px;
    height: 206px;
  }
  .slider-block{
    margin-bottom: 40px;
    position: relative;
    &__header{
      position: relative;
      margin-bottom: 30px;
    }
    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 34px;
      line-height: 44px;
      text-align: center;
      color: #333;
      position: relative;
      span{
        color: #4FAE2F;
      }
    }
    &__link{
      position: absolute;
      top: 0;
      right: 0;
      font-weight: bold;
      font-size: 13px;
      line-height: 17px;
      text-align: center;
      border: 1px solid #4FAE2F;
      color: #4FAE2F;
      display: block;
      z-index: 1;
      padding: 10px 25px;
      text-decoration: none;
      &--mobile{
        display: none;
      }
    }
    &__arrow-block{
      position: absolute;
      top: 0;
      right: 0;
    }
    &__body{
    }
    &__icon{
      width: 8px;
      height: 5px;
      background-image: url("../img/arrow-link.svg");
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }
    &__btn{
      background: #4FAE2F;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: #fff;
      padding: 16px 29px 13px 29px;
      border: none;
      border-bottom: #4FAE2F solid 3px;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin: 80px auto 0;
      svg{
        margin-right: 10px;
      }
    }
    &.hidden{
      display: none;
    }
    .swiper-wrapper{
      padding: 15px 0;
    }
    .swiper-slide {
      background-color: #fff;
      padding: 10px;
      text-decoration: none;
      height: auto;

      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
      p{
        font-size: 18px;
        line-height: 23px;
        color: #000;
        margin: 0;
      }
    }
    .catalog-card__header{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translate(-50%, 0);
        background-image: url("../img/label_dark.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        width: 141px;
        height: 56px;
        z-index: 2;
      }
    }
    .black_friday_label {

    }

    .swiper-collection-button-prev,
    .swiper-collection-button-next{
      position: absolute;
      top: calc(50% - 30px);
      transform: translate(0,-50%);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
    .swiper-button-disabled{
      opacity: .5;
    }
    .swiper-button-prev{
      background-image: url("../img/slider-arrow-prev.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 50px;
      height: 50px;
      opacity: 1;
      left: 0;
    }
    .swiper-button-next{
      background-image: url("../img/slider-arrow-next.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 50px;
      height: 50px;
      right: 0;
    }
    .swiper-button-disabled{
      opacity: .5;
    }

    .swiper-button-next:after{
      display: none;
    }
    .swiper-button-prev:after {
      display: none;
    }

    .swiper-pagination {
      position: relative;
      bottom: 0;
      margin: 20px auto;
    }
    .swiper-pagination-bullet{
      background-color: #E6E6E6;
      vertical-align: middle;
      opacity: .4;
    }
    .swiper-pagination-bullet-active{
      background-color: #50AE2F;
      width: 10px;
      height: 10px;
      opacity: 1;
    }
    @include r(767){
      &__title {
        font-size: 28px;
        line-height: 36px;
        a {
          display: none;
        }
      }
      &__link{
        display: none;
        &--mobile{
          display: block;
          position: relative;
        }
      }
      .swiper-button-prev{
        display: none;
      }
      .swiper-button-next{
        display: none;
      }
    }
  }
}