.supersubbota2022-header{
  background: linear-gradient(180deg, #EC6500 0%, #EC6500 100%);

  position: relative;
  z-index: 1;
  text-align: center;
  &:after{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    right: 0;
    transform: translate(-50%,0);
    background-image: url("../img/back1.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: 100%;
    height: 32px;
  }
  &__body{
    position: relative;
    overflow: hidden;
    padding: 30px 0 50px;
  }
  &__img{
    margin: 0 auto 30px;
    img{
      margin: 0 auto;
    }
  }
  &__btn{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #111111;
    background-color: #FFED00;
    padding: 13px;
    border: none;
    border-bottom: 3px solid #CCBE00;
    position: relative;
    z-index: 10;
    &:hover{
      opacity: .9;
    }
    span{
      border-bottom: 1px dotted #111111;
    }
  }
  &__decor1{
    position: absolute;
    bottom: 0;
    left: -213px;
  }
  &__decor2{
    position: absolute;
    bottom: 0;
    right: -213px;
  }
  @include r(767){

    &__body{
      padding: 60px 0 50px;
    }
    &__decor1{
      left: -200px;
      img{
        max-width: 279px;
      }
    }
    &__decor2{
      right: -53px;
      img{
        max-width: 173px;
      }
    }
  }
}